@import "~assets/scss/vars.scss";

.quizzesContainer {
  .lastAsked {
    font-weight: 100;
    white-space: nowrap;
    opacity: .50;
  }
  display: flex;
  flex-direction: column;
}

.quizzes-body {
  }
