@import "~assets/scss/vars.scss";

.studentQuizzesContainer {
  display: block;
}



.taken-quizzes {
    margin-top: 20px;
    margin-left: 275px;
    font-family: Lato;
    font-size: 38px;
    color: #333333;
}
