@import "~assets/scss/vars.scss";

.studentQuestionModalContainer {
  .correctAnswer {
    background-color: $lightGreen !important;
  }

  .wrongAnswer {
    background-color: $lightRed !important;
  }

  .openAnswer {
    background-color: $lightBlue !important;
  }
}
