@import "~assets/scss/global.scss";

.layoutContainer {
    padding: 0;
    margin: 0;
    background-color: #F6F7F8;
}

.contentBody {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #F6F7F8;
}
